<!-- lab 12 card 2: The `detail.ejs` file is a partial file that contains just a `<section>` to render the details of a single book. Think of it as a resuable book component.  -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Book Detail</title>
  </head>
  <body>

    <section>
      
    </section>
    
  </body>
  </html>