<!--lab 12 card 2:  The show.ejs file uses EJS syntax to include the detail.ejs partial. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saved Books</title>
</head>
<body>
  <h1>I'm here!</h1>
  <!-- TODO: as per said in server.js, add a table place for req.body info to live and be seen -->
</body>
</html>