<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Search</title>
</head>
<body>
  <h1>New Search page</h1>
  
  <form action="/searches/new" method="POST">
    <fieldset>
      <legend>Find a Book!</legend>
      <label for="searchForABook">Search for a Book</label>
      <input type="text" name="search[keyword]">

      <label for="searchByAuthor">Search by Author</label>
      <input type="radio" name="search[type]" value="author">

      <label for="searchByTitle">Search by Title</label>
      <input type="radio" name="search[type]" value="title">

      <input type="submit">

    </fieldset>
  </form>

</body>
</html>