<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Search</title>
</head>
<body>
  <h1>New Search page</h1>
  
  <form action="/new"></form>
    <fieldset>
      <legend>Find a Book!</legend>
      <label for="searchByBook">Search by Title</label>
      <input type="text" name="bookTitle">

      <label for="searchByAuthor">Search by Author</label>
      <input type="text" name="authorName">

      <input type="submit">

    </fieldset>

</body>
</html>